@font-face {
    font-family: 'customFont';
    src: url('./assets/ttf/LXGWWenKaiLite-Regular.ttf') format('truetype');
    /*src:*/
    /*     !*url('./assets/LXGWWenKaiMonoLite-Regular.ttf') format('truetype'),*!*/
    /*     !*url('./assets/LXGWWenKaiMonoLite-Bold.ttf') format('truetype'),*!*/
    /*     url('./assets/ttf/LXGWWenKaiScreen.ttf') format('truetype');*/
}

/*@font-face {*/
/*    font-family: 'customFontMono';*/
/*    !*src: url('./assets/LXGWWenKaiScreen.ttf') format('truetype');*!*/
/*    src:*/
/*        !*url('./assets/LXGWWenKaiMonoLite-Regular.ttf') format('truetype'),*!*/
/*        url('assets/ttf/LXGWWenKaiMonoLite-Bold.ttf') format('truetype'),*/
/*        url('assets/ttf/LXGWWenKaiScreen.ttf') format('truetype');*/
/*}*/

:root {
    /*--vp-sidebar-width: 300px;*/
    --vp-font-family-base: "customFont";
    /*--vp-font-family-mono: "customFontMono"; !* code font *!*/
    --vp-font-size-base: 19px; /* 定义基础字体大小 */
    --code-font-size: 1.2em; /* 定义代码字体大小变量 */
}

body {
    font-size: var(--vp-font-size-base);
}
/* 代码字体大小 */
div[class*='language-'] {
    font-size: var(--code-font-size);
}

h1 {
    font-size: 2.2em; /* 34.8px */
    text-shadow: 1px 0;
}

h2 {
    font-size: 1.75em; /* 31.5px */
    text-shadow: 1px 0;
}

h3 {
    font-size: 1.5em; /* 27px */
    text-shadow: 1px 0;
}

strong {
    text-shadow: 1px 0;
}


