@import 'lxgw-wenkai-screen-webfont/style.css';

:root {
    --vp-font-family-base: 'LXGW WenKai Screen';
    --vp-font-size-base: 19px; /* 定义基础字体大小 */
    --code-font-size: 1.2em; /* 定义代码字体大小变量 */
}

body {
    font-size: var(--vp-font-size-base);
    line-height: 1.5;
}
/* 代码字体大小 */
div[class*='language-'] {
    font-size: var(--code-font-size);
}

h1 {
    font-size: 2.2em; /* 34.8px */
    text-shadow: 0.5px 0;
}

h2 {
    font-size: 1.75em; /* 31.5px */
    text-shadow: 0.5px 0;
}

h3 {
    font-size: 1.5em; /* 27px */
    text-shadow: 0.5px 0;
}

strong {
    text-shadow: 0.5px 0;
}