@font-face {
    font-family: 'code font';
    src: url('./assets/source-code-pro/SourceCodePro-Medium.ttf') format('truetype');
}

:root {
    --vp-sidebar-width: 300px;
    --vp-font-family-base: 'LXGW WenKai Screen';
    --vp-font-family-mono: 'code font';
    --vp-font-size-base: 18px; /* 定义基础字体大小 */
    --code-font-size: 1em; /* 定义代码字体大小变量 */
}

body {
    font-size: var(--vp-font-size-base);
    line-height: 1.5;
}

/* Latex字体 */
.MJXc-display {
    font-size: 1.2em; /* 根据需要调整 */
}
.MJXc-text {
    font-size: 1em; /* 根据需要调整 */
}

/* 代码字体大小 */
div[class*='language-'] {
    font-size: var(--code-font-size);
}

h1 {
    font-size: 2.2em; /* 34.8px */
    text-shadow: 0.6px 0;
}

h2 {
    font-size: 1.75em; /* 31.5px */
    text-shadow: 0.6px 0;
}

h3 {
    font-size: 1.5em; /* 27px */
    text-shadow: 0.6px 0;
}

strong {
    text-shadow: 0.6px 0;
    color: blue;
}