@font-face {
    font-family: 'customFont';
    /*src: url('./assets/LXGWWenKaiScreen.ttf') format('truetype');*/
    src:
         /*url('./assets/LXGWWenKaiMonoLite-Regular.ttf') format('truetype'),*/
         /*url('./assets/LXGWWenKaiMonoLite-Bold.ttf') format('truetype'),*/
         url('./assets/LXGWWenKaiScreen.ttf') format('truetype');
    /* 替换成你自己的字体文件 */
}

:root {
    --vp-sidebar-width: 300px;
    --vp-font-family-base: "customFont"
}

strong {
    text-shadow: 0.5px 0;
}


