

.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
      rgba(var(--bg-gradient-home), 1) 0%,
      rgba(var(--bg-gradient-home), 0) 150%);

  // 自定义首页背景图
  &::before {
    // 图片来源：https://zhuanlan.zhihu.com/p/54060187
    // background-image: url(https://file.mo7.cc/api/public/bz);
    //background-image: url(./assets/bg12.jpg);
     background-image: url(https://img.upyun.ytazwc.top/image202408082311587.jpg);
    background-size: cover;
  }



}

